.categories {
    width: 1110px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.category_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.header{
    font-size: 25px;
    font-weight: 700;
}

.category_card {
    height: 300px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: 0.3s ease-out;
    opacity: 1;
}

.category_card:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.category_card p {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.category_card img {
    width: 240px;
    height: 200px;
}