.search {
    max-width: 850px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-bottom: 30px;
}

.search input {
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.search select {
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.price_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.price_block input{
    width: 100px;
}

.price_block p{
    font-weight: 600;
}

.check_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.check_block p{
    font-weight: 600;
}

.check_block input {
    width: 30px;
}

.sort_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.sort_block p{
    font-weight: 600;
}

@media (max-width: 500px){
    .search{
        flex-direction: column;
    }
}